.label-title{
    font-weight: 500;
}

.label-details{
    padding-left: 5px;
}

.details-container{
    border: 1px solid gray;
    padding: 10px 0px 10px 20px;
}

.order-status{
    font-weight: 500;
}